main {
    display: flex;
    flex-direction: column;
    place-items: center;
    max-width: 800px;
    margin: 0  auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

section img {
    max-width: 400px;
    height: auto;
}